

.u-margin-top-m {
    margin-top: 4rem !important ;

}

.u-margin-top-s {
    margin-top: 1.6rem !important ;
}

.u-margin-top-l {
    margin-top: 6rem !important ;
}

.u-margin-bot-s {
    margin-bottom: 1.6rem !important ;
}

.u-margin-bot-m {
    margin-bottom: 3.6rem !important ;
}

.u-margin-bot-l {
    margin-bottom: 5.6rem !important ;
}

.u-text-center {
    text-align: center !important ;
}

.u-bg-grey-light {
    background-color: $color-grey-light !important ;
}

.u-color-blue {
    color: $color-primary-medium !important ;
}
