
$color-black: #000 ;
$color-white : #fff ;
$color-grey-dark : #777 ;
$color-grey-light: #f7f7f7 ;

$color-primary-light: #8E9EFC ;
$color-primary-medium: #5A73FC ;
$color-primary-dark: #1C3EFF ;

$color-secondary-light: #ffb900 ;
$color-secondary-dark: #ff7730 ;

$color-tertiary-light: #55c57a;
$color-tertiary-dark: #28b485 ;