


.header {
    width: 100% ;
    height: 90vh ;
    background-image: linear-gradient(to bottom right ,
    rgba($color-primary-light , .8) ,
    rgba($color-primary-dark , .8)
    ) ,
    url(../../img/background1.jpg);
    background-size: cover ;
    background-position: top ;
    clip-path: ellipse(62% 68% at 50% 31%);
    position: relative;


    &__logo {
        display: block ;
        width: 6% ;
        position: absolute ;
        top: 4rem ;
        left: 3rem ;

        @include respond(phone) {
            width: 30% ;
        }


    }

    &__text-box {
        position: absolute;
        top: 40% ;
        left: 50% ;
        transform: translate(-50% , -50% );
        text-align: center ;
    }

}

